@{
    Layout = "~/Views/Home/_LayoutHome.cshtml";

}




<section class="area"style="margin-top:200px">
    <div class="container">
        <div class="subscribe">
            <h3>@ViewBag.subscribe.Head</h3>
            <form class="form-inline">
                <a href="http://localhost:50316/enrollments/Create" class="btn btn-danger rounded">Subscribe</a>

            </form>
        </div>
    </div>
</section>